CompileFlags:
  CompilationDatabase: /Users/sayyamsinghkhatri/ITS-BRD-VSC/Programs/PrimzahlSiebASM/out/PrimzahlSiebASM/ITSboard_Assembly/Debug
  Add:
    - -include
    - /Users/sayyamsinghkhatri/ITS-BRD-VSC/Programs/PrimzahlSiebASM/out/PrimzahlSiebASM/ITSboard_Assembly/Debug/compile_macros.h
